*{
	margin: 0;
}

html{
	margin: 0;
	padding: 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.header{
	background-color: #4CAF50;
	width: 100%;
	min-height: 20%;
	padding: 10px;
	float: right;
}

.header h2{
	text-align: center;
	margin: 15px;
	color: white;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #d8d8d8;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.nav li a {
  display: block;
  color: #000;
  padding: 29px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav li a.active {
  background-color: #4CAF50;
  color: white;
}

.nav li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.global{
	padding-left: 20%;
}

.content h3{
	animation: fadeIn 2s;
	text-align: center;
	font-size: 50px;
	padding-top: 300px;
}

.content p{
	text-align: center;
	font-size: 20px;
}
